body {
    background: #ffd845;
  }
  .container {
    width: 1000px;
    margin: 0 auto;
  }
  .title {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .form{
      display: flex;
      gap: 30px;
      justify-content: center;
      margin-top: 70px;
      align-items: center;
  }
  .input {
    width: 250px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2px solid #000;
    background: #fff;
  }
  .btn {
    border-radius: 15px;
    border: 2px solid ;
    background: #fff;
    width: 150px;
    height: 48px;
    flex-shrink: 0;
    font-size: 18px;
  }
  .delete-btn{
    width: 100px;
    height: 30px;
    font-size: 11px;
    background-color: darkgrey;
  }